
body {
	background-color: #fff;
	font-family: Stencil;
	color: #000;
}


#output {
	padding: 5px;
	margin-right: 10px;
	width: 290px;
	color: grey;
	font-family: calibri;
	margin-top: -5px;
	margin: 0 auto;
	font-size: 30px;
	
}